<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOjR9WMGnw9Rn7XOzk8-8Sv5bO8MWKu50</string>
	<key>GCM_SENDER_ID</key>
	<string>15320955322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.utopiasoft.presenceAppIos</string>
	<key>PROJECT_ID</key>
	<string>presence-app-b1855</string>
	<key>STORAGE_BUCKET</key>
	<string>presence-app-b1855.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15320955322:ios:60fccac76763181d8ac583</string>
</dict>
</plist>